/***********************tag selector***********************/
body {
  background-color: white;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
  height: 500px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 70%;
  border-color: #008E89;
  border-width: 5px;
}

h1 {
  color: #66BFBF;
  font-size: 5rem;
}

h3 {
  color: #66BFBF;
}

/***********************class selector***********************/
.the-mehadek {
  font-family: sans-serif;
  font-size: 50PX;
}

.hanan_p {
  height: 150px;
}

.manu1 {
  font-style: italic;
  color: #900C3F;
  font-size: 30px;
}

.colorbody {
  background-color: #F0E487;
}

.bulysize {
  font-size: 70px;
  font-style: oblique;
}

.image-top {
  text-align: center;
  height: 200px;
}

.cloud-one {
  height: 20%;
  position: absolute;
}

.cloud-too {
  height: 100px;
  position: absolute;
  left: 30%;
}

.pub-h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

.tallk {
  position: relative;
  left: 30px;
}

.menu-div {
  position: relative;
  bottom: 50px;
  font-size: 30px;
  top: 100px;
  margin: 5px;
}

.p-activity {
  margin: 0;
  width: 100px;
}

.days {
  margin: 5px;
  position: absolute;
  right: 52%;
}

.hour {
  margin: 5px;
  position: absolute;
  right: 45%;
}

.tractor-bottom {
  position: relative;
  top: 100px;
  margin: 5px;
}

.sign-in {
  height: 20px;
  position: fixed;
  right: 100px;
  top: 10px;
  font-size: 20PX;
}

.sign-in:hover {
  background-color: #66BFBF;
}

.singinbox {
  position: relative;
  width: 200px;
  height: 100px;
  margin: 0;
  left: 45%;
}

.username {
  font-weight: bold;
  width: 200px;
  height: 50px;
  position: absolute;
}

.password {
  font-weight: bold;
  width: 200px;
  height: 50px;
  position: absolute;
  bottom: 0;
}
