#title {
  background-color: black;
}

/* head-line and pohoto */
.head-line-container {
  background-color: black;
  text-align: center;
  padding: 150px;
  padding-top: 0;
}

.beer-photo {
  position: relative;
  top: 50px;
  margin-top: 50px;
  width: 32%;
}

.mehadek-head {
  text-align: center;
  color: #DFE0DF;
  font-family: 'Metal Mania', cursive;
  padding: 20px 0;
  font-size: 4rem;
}

/************************** navbar*********************************/
.itemnav {
  margin: 5px 5px;
}

.btn {
  color: #fff;
  background-color: black;
}

/************************************** about-Us **************************/
#about-us {
  background-color: #2B2B2B;
  padding: 100px 0;
  line-height: 2.5rem;
}

.mehadek-class {
  font-family: 'Metal Mania', cursive;
  color: #DFE0DF;
  font-size: 2.5rem;
  margin-bottom: 400px;
}

.div-text {
  background-color: black;
  height: 400px;
}

.text-boy {
  width: 730px;
  height: 260px;
  text-align: center;
  margin: 20px 0;
}

.mehadek-class-h1 {
  text-align: center;
  color: #DFE0DF;
  font-family: 'Metal Mania', cursive;
  padding: 20px 0;
}

.text {
  color: #fff;
  /* position: relative; */
  left: 10px;
  width: 100%;
}

/*////////////////////.background-red and image ////////////////*/
.background-red-img {
  background-color: #921224;
}

.bar-image {
  width: 70%;
  border-radius: 20px;
  position: relative;
  left: 150px;
  top: 30px;
  transform: rotate(15deg);
}

/*********************************** events-section ***********************/
#events {
  text-align: center;
  background-color: black;
  padding: 100px 0;
}

.carusel-events {
  width: 40%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: grey;
  font-weight: bolder;
  font-size: 1.5rem;
}

/*********************************** conect-us *********************/
#contact-us {
  text-align: center;
  background-color: #2B2B2B;
}

.conect-h2 {
  padding: 50px;
}

.icons {
  color: #921224;
  font-size: 2.5rem;
  padding: 20px;
}

.conect-div {
  background-color: black;
  padding: 15px;
  padding: 50px 100px;
}

p {
  color: #fff;
}

.h3-up {
  color: grey;
}

.p-bottom {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
}

.maps {
  padding-top: 50px;
}

/******************* @media *****************************/
@media (max-width:991px) {

  /*//////// navbar////////////////////////////////////////// */
  .navbar-toggler {
    position: relative;
    left: 90%;
  }

  .itemnav {
    text-align: right;
  }

  /* ////////////////////////////////////////////////// */
  /* headline */
  .mehadek-head {
    font-size: 7rem;
    position: absolute;
    bottom: 500px;
    left: 120px;
    z-index: 1;
  }

  .beer-photo {
    position: relative;
    width: 100%;
    z-index: 0;
  }

  /* about */
  .mehadek-class-h1 {
    font-size: 4.5rem;
  }

  .mehadek-class {
    font-size: 4.5rem;
  }

  .div-text {
    height: 500px;
  }

  .text-boy {
    margin-top: 70px;
    font-size: 1.8rem;
  }

  /*background-red-img */
  .background-red-img {
    height: 400px;
  }

  .bar-image {
    width: 50%;
    margin-left: 10%;
    transform: rotate(0deg);
  }

  /* ///////////////////////////////////////////////// */
  /* //////////////////////////carusel////////////////// */
  .carusel-events {
    position: relative;
    width: 700px;
  }

  .position-nav {
    text-align: right;
  }
}
